{
  "extends": ["eslint-config-synacor", "plugin:cypress/recommended"],
  "plugins": ["cypress", "better-styled-components"],
  "env": {
    "cypress/globals": true,
    "webextensions": true
  },
  "rules": {
    "jest/expect-expect": "off",
    "better-styled-components/sort-declarations-alphabetically": 2
  },
  "ignorePatterns": ["dist/", "build/", "node_modules/"]
}
